digraph {% if labels.title %}"{{title}}"{% endif %} {
    {% if config.rankdir %}rankdir={{config.rankdir}}{% endif %}
    graph [margin=0];
    edge [arrowhead=vee, arrowsize=0.75];
    node [shape=box, margin="0.1,0.03", width=0, height=0, fontname="monospace"];

    {%- for id, vertex in vertices.items() %}
    "{{id}}" [label="{{vertex.id}}"{% if config.showVertices %} href="#vertex.{{vertex.id}}"{% endif %}]
    {%- endfor %}

    {%- for edge in edges %}
    "{{edge.from}}" -> "{{edge.to}}" [label="[{{edge.id}}]"{% if config.showEdges %} href="#edge.{{edge.id}}"{% endif %}{% if edge.bidir %} dir=both{% endif %}]
    {%- endfor %}
}
